<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Task:1</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

<main class="main-content">

        <section class="left-section">
        
            <div class="left-content">
                <div class="profile">
                    <div class="image">
                        <img src="img/img.jpg" alt="">
                    </div>
                    <h2 class="name">Yaneth Doria</h2>
                    <p class="career">Estudiante</p>
                </div>
                <div class="contact-info">
                    <h3 class="main-title">Contacto</h3>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            +58 412-491-4809
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                            yanethb.2210@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-facebook"></i>
                            www.facebook.com/yanethdoria
                        </li>
                        <li>
                            <i class="fa fa-instagram"></i>
                            @bethpixel
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            Guárico, Venezuela
                        </li>
                    </ul>
                </div>
                <div class="skills-section">
                    <h3 class="main-title">Skills</h3>
                    <ul>
                        <li>
                            <p class="skill-title">Javascript</p>
                            <div class="progress-bar">
                                <div class="progress js-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Photoshop</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">HTML</p>
                            <div class="progress-bar">
                                <div class="progress ht-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">css</p>
                            <div class="progress-bar">
                                <div class="progress cs-progress"></div>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>

        </section>
        <section class="right-section">
            <div class="right-main-content">
                <section class="about sect">
                    <h2 class="right-title">Sobre mí</h2>
                    <p class="para">
                        Soy Yaneth Doria, tengo 18 años. Soy estudiante de Ingeniería en Informática de la Universidad Nacional Experimental Rómulo Gallegos. Me gusta leer y dibujar en mi tiempo libre. Siempre me ha gustado el arte desde que era niña y por ello quiero combinar mis dos pasiones que son la tecnología y el diseño, y convertirme en una excelente diseñadora web.
                    </p>
                </section>

    
                <section class="education sect">
                    <h2 class="right-title">educación</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Universidad Nacional Experimental "Rómulo Gallegos"</h5>
                            <p class="para">2020 - Presente</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Ingeniería en Informática</h5>
                            </div>
                        </div>

                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">U.E.N "Rafael Cabrera Malo"</h5>
                            <p class="para">2015 - 2020</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Bachiller en ciencias</h5>
                            </div>
                        </div>
                    </div>
                   
                </section>
                <section class="awards sect">
                    <h2 class="right-title">Cursos</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">King's College London</h5>
                            <p class="para">Julio 2021</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Basic English 1: Elementary</h5>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">University of Leeds and Institute of Coding</h5>
                            <p class="para">Julio 2021</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Computer Programming for Everyone</h5>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>

    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">

                <form action="/" method="post">
                    <h2>Contáctame</h2>
                    <input required="true" type="text" class="field" value="<%= contacts.email%>" placeholder="Tu nombre">
                    <input required="true" type="text" class="field" value="<%=contacts.nombre%>" placeholder="Tu correo">
                    <textarea required="true" placeholder="Mensaje" class="field"></textarea><%=contacts.mensaje%>
                    <button class="btn">Enviar</button>
                    <input type="hidden" name="ip" value="<%= contacts.ip%>"/>
                    <input type="hidden" name="fecha" value="<%= contacts.fecha%>">
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>